<section class="homepage">
  <h2>Drive</h2>
  <h1>Welcome <%= user.firstName %>.</h1>

  <div class="create_folder_and_file_wrap">
    <div class="create_folder act cursor">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="create_folder_icon"
        fill="#000"
      >
        <path
          d="M3 6C3 4.9 3.9 4 5 4H9L11 6H19C20.1 6 21 6.9 21 8V18C21 19.1 20.1 20 19 20H5C3.9 20 3 19.1 3 18V6Z"
        />
      </svg>
      Create Folder
    </div>
    <div class="create_file act">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="file_icon"
        fill="#000"
      >
        <path
          d="M6 2H14L18 6V20C18 21.1 17.1 22 16 22H6C4.9 22 4 21.1 4 20V4C4 2.9 4.9 2 6 2Z"
        />
        <path d="M14 2V6H18" />
      </svg>
      Create File
      <input type="file" class="createFileInput cursor" multiple />
    </div>
  </div>

  <p class="folder_more_opt_inst">
    Long press on <em>created folder</em> for more options.
  </p>

  <p class="invalid_files_error hide"></p>

  <hr />

  <main>
    <button class="open_side_bar_btn">&#9776;</button>

    <button class="close_side_bar_btn hide">X</button>

    <div class="root_folder_and_file_wrap"></div>

    <div class="file_display_wrap">
      <div class="file_empty">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="896"
          height="747.97143"
          viewBox="0 0 896 747.97143"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          role="img"
          class="empty_icon"
          artist="Katerina Limpitsouni"
          source="https://undraw.co/"
        >
          <title>empty_cart</title>
          <path
            d="M193.634,788.75225c12.42842,23.049,38.806,32.9435,38.806,32.9435s6.22712-27.47543-6.2013-50.52448-38.806-32.9435-38.806-32.9435S181.20559,765.7032,193.634,788.75225Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M202.17653,781.16927c22.43841,13.49969,31.08016,40.3138,31.08016,40.3138s-27.73812,4.92679-50.17653-8.57291S152,772.59636,152,772.59636,179.73811,767.66958,202.17653,781.16927Z"
            transform="translate(-152 -76.01429)"
            fill="rgb(96, 86, 8)"
          />
          <rect
            x="413.2485"
            y="35.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="513.2485"
            y="37.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="452.2485"
            y="37.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="484.2485"
            y="131.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="522.2485"
            y="113.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="583.2485"
            y="113.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="670.2485"
            y="176.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="708.2485"
            y="158.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="769.2485"
            y="158.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="656.2485"
            y="640.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="694.2485"
            y="622.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="755.2485"
            y="622.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="417.2485"
            y="319.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="455.2485"
            y="301.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="516.2485"
            y="301.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="461.2485"
            y="560.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="499.2485"
            y="542.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="560.2485"
            y="542.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="685.2485"
            y="487.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="723.2485"
            y="469.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="784.2485"
            y="469.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <polygon
            points="362.06 702.184 125.274 702.184 125.274 700.481 360.356 700.481 360.356 617.861 145.18 617.861 134.727 596.084 136.263 595.347 146.252 616.157 362.06 616.157 362.06 702.184"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <circle
            cx="156.78851"
            cy="726.03301"
            r="17.88673"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <circle
            cx="333.10053"
            cy="726.03301"
            r="17.88673"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <circle
            cx="540.92726"
            cy="346.153"
            r="11.07274"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M539.38538,665.76747H273.23673L215.64844,477.531H598.69256l-.34852,1.10753Zm-264.8885-1.7035H538.136l58.23417-184.82951H217.95082Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <polygon
            points="366.61 579.958 132.842 579.958 82.26 413.015 418.701 413.015 418.395 413.998 366.61 579.958"
            fill="#f2f2f2"
          />
          <polygon
            points="451.465 384.7 449.818 384.263 461.059 341.894 526.448 341.894 526.448 343.598 462.37 343.598 451.465 384.7"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="82.2584"
            y="458.58385"
            width="345.2931"
            height="1.7035"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="101.45894"
            y="521.34377"
            width="306.31852"
            height="1.7035"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="254.31376"
            y="402.36843"
            width="1.7035"
            height="186.53301"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="385.55745"
            y="570.79732"
            width="186.92877"
            height="1.70379"
            transform="translate(-274.73922 936.23495) rotate(-86.24919)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="334.45728"
            y="478.18483"
            width="1.70379"
            height="186.92877"
            transform="translate(-188.46866 -52.99638) rotate(-3.729)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect y="745" width="896" height="2" fill="rgba(0, 0, 0, 0.8)" />
          <path
            d="M747.41068,137.89028s14.61842,41.60627,5.62246,48.00724S783.39448,244.573,783.39448,244.573l47.22874-12.80193-25.86336-43.73993s-3.37348-43.73992-3.37348-50.14089S747.41068,137.89028,747.41068,137.89028Z"
            transform="translate(-152 -76.01429)"
            fill="#a0616a"
          />
          <path
            d="M747.41068,137.89028s14.61842,41.60627,5.62246,48.00724S783.39448,244.573,783.39448,244.573l47.22874-12.80193-25.86336-43.73993s-3.37348-43.73992-3.37348-50.14089S747.41068,137.89028,747.41068,137.89028Z"
            transform="translate(-152 -76.01429)"
            opacity="0.1"
          />
          <path
            d="M722.87364,434.46832s-4.26731,53.34138,0,81.07889,10.66828,104.5491,10.66828,104.5491,0,145.08854,23.4702,147.22219,40.53945,4.26731,42.6731-4.26731-10.66827-12.80193-4.26731-17.06924,8.53462-19.20289,0-36.27213,0-189.8953,0-189.8953l40.53945,108.81641s4.26731,89.61351,8.53462,102.41544-4.26731,36.27213,10.66827,38.40579,32.00483-10.66828,40.53945-14.93559-12.80193-4.26731-8.53462-6.401,17.06924-8.53462,12.80193-10.66828-8.53462-104.54909-8.53462-104.54909S879.69728,414.1986,864.7617,405.664s-24.537,6.16576-24.537,6.16576Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M761.27943,758.78388v17.06924s-19.20289,46.39942,0,46.39942,34.13848,4.8083,34.13848-1.59266V763.05119Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M887.16508,758.75358v17.06924s19.20289,46.39941,0,46.39941-34.13848,4.80831-34.13848-1.59266V763.02089Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <circle cx="625.28185" cy="54.4082" r="38.40579" fill="#a0616a" />
          <path
            d="M765.54674,201.89993s10.66828,32.00482,27.73752,25.60386l17.06924-6.401L840.22467,425.9337s-23.47021,34.13848-57.60869,12.80193S765.54674,201.89993,765.54674,201.89993Z"
            transform="translate(-152 -76.01429)"
            fill="rgb(96, 86, 8)"
          />
          <path
            d="M795.41791,195.499l9.60145-20.26972s56.54186,26.67069,65.07648,35.20531,8.53462,21.33655,8.53462,21.33655l-14.93559,53.34137s4.26731,117.351,4.26731,121.61834,14.93559,27.73751,4.26731,19.20289-12.80193-17.06924-21.33655-4.26731-27.73751,27.73752-27.73751,27.73752Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M870.09584,349.12212l-6.401,59.74234s-38.40579,34.13848-29.87117,36.27214,12.80193-6.401,12.80193-6.401,14.93559,14.93559,23.47021,6.401S899.967,355.52309,899.967,355.52309Z"
            transform="translate(-152 -76.01429)"
            fill="#a0616a"
          />
          <path
            d="M778.1,76.14416c-8.51412-.30437-17.62549-.45493-24.80406,4.13321a36.31263,36.31263,0,0,0-8.5723,8.39153c-6.99153,8.83846-13.03253,19.95926-10.43553,30.92537l3.01633-1.1764a19.75086,19.75086,0,0,1-1.90515,8.46261c.42475-1.2351,1.84722.76151,1.4664,2.01085L733.543,139.792c5.46207-2.00239,12.25661,2.05189,13.08819,7.80969.37974-12.66123,1.6932-27.17965,11.964-34.59331,5.17951-3.73868,11.73465-4.88,18.04162-5.8935,5.81832-.935,11.91781-1.82659,17.49077.08886s10.31871,7.615,9.0553,13.37093c2.56964-.88518,5.44356.90566,6.71347,3.30856s1.33662,5.2375,1.37484,7.95506c2.73911,1.93583,5.85632-1.9082,6.97263-5.07112,2.62033-7.42434,4.94941-15.32739,3.53783-23.073s-7.72325-15.14773-15.59638-15.174a5.46676,5.46676,0,0,0,1.42176-3.84874l-6.48928-.5483a7.1723,7.1723,0,0,0,4.28575-2.25954C802.7981,84.73052,782.31323,76.29477,778.1,76.14416Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M776.215,189.098s-17.36929-17.02085-23.62023-15.97822S737.80923,189.098,737.80923,189.098s-51.20772,17.06924-49.07407,34.13848S714.339,323.51826,714.339,323.51826s19.2029,100.28179,2.13366,110.95006,81.07889,38.40579,83.21254,25.60386,6.401-140.82123,0-160.02412S776.215,189.098,776.215,189.098Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M850.89294,223.23648h26.38265S895.6997,304.31537,897.83335,312.85s6.401,49.07406,4.26731,49.07406-44.80675-8.53462-44.80675-2.13365Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <path
            d="M850,424.01429H749c-9.85608-45.34-10.67957-89.14649,0-131H850C833.70081,334.115,832.68225,377.62137,850,424.01429Z"
            transform="translate(-152 -76.01429)"
            fill="#f2f2f2"
          />
          <path
            d="M707.93806,368.325,737.80923,381.127s57.60868,8.53462,57.60868-14.93559-57.60868-10.66827-57.60868-10.66827L718.60505,349.383Z"
            transform="translate(-152 -76.01429)"
            fill="#a0616a"
          />
          <path
            d="M714.339,210.43455l-25.60386,6.401L669.53227,329.91923s-6.401,29.87117,4.26731,32.00482S714.339,381.127,714.339,381.127s4.26731-32.00483,12.80193-32.00483L705.8044,332.05288,718.60633,257.375Z"
            transform="translate(-152 -76.01429)"
            fill="rgba(0, 0, 0, 0.8)"
          />
          <rect
            x="60.2485"
            y="352.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="98.2485"
            y="334.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="159.2485"
            y="334.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="109.2485"
            y="56.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="209.2485"
            y="58.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="148.2485"
            y="58.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="250.2485"
            y="253.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="350.2485"
            y="255.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="289.2485"
            y="255.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="12.2485"
            y="252.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="112.2485"
            y="254.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="51.2485"
            y="254.40779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="180.2485"
            y="152.90779"
            width="140"
            height="2"
            fill="#f2f2f2"
          />
          <rect
            x="218.2485"
            y="134.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
          <rect
            x="279.2485"
            y="134.90779"
            width="2"
            height="18.5"
            fill="#f2f2f2"
          />
        </svg>
      </div>

      <div class="file_display_wrap_content hide">
        <div class="file_display_heading">
          <h4 class="file_name"></h4>
          <input type="text" class="inp_file_name hide" />

          <div class="file_display_action_wrap">
            <a class="download_icon_wrap act">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                class="icon"
                stroke="currentColor"
                stroke-width="2"
              >
                <path d="M12 3v12" />
                <path d="M7 10l5 5 5-5" />
                <path d="M5 21h14" />
              </svg>
            </a>

            <div class="rename_icon_wrap act" data-file-action="rename">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                class="icon"
                stroke="currentColor"
                stroke-width="2"
              >
                <path d="M12 20h9" />
                <path
                  d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4 12.5-12.5z"
                />
              </svg>
            </div>

            <div class="delete_icon_wrap act" data-file-action="delete">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                class="icon"
                stroke="currentColor"
                stroke-width="2"
              >
                <path d="M3 6h18" />
                <path d="M8 6V4h8v2" />
                <path d="M19 6l-1 14H6L5 6" />
                <path d="M10 11v6" />
                <path d="M14 11v6" />
              </svg>
            </div>
          </div>
        </div>

        <div class="file_preview_wrap">
          <img class="file_preview" />
        </div>

        <div class="file_data">
          <div class="file_size">Size</div>
          <div class="display_file_size"></div>

          <div class="file_mimetype">Mimetype</div>
          <div class="display_file_mimetype"></div>

          <div class="file_createdAt">Create At</div>
          <div class="display_file_created_at"></div>

          <div class="file_updatedAt">Updated At</div>
          <div class="display_file_updated_at"></div>
        </div>
      </div>
    </div>
  </main>
</section>

<template class="spinner_icon_template">
  <svg
    width="48"
    height="48"
    viewBox="0 0 50 50"
    xmlns="http://www.w3.org/2000/svg"
    class="spinner_icon"
  >
    <circle
      cx="25"
      cy="25"
      r="20"
      fill="none"
      stroke="var(--pri-accent)"
      stroke-width="5"
      stroke-linecap="round"
      stroke-dasharray="90 60"
      class="circle"
    >
      <animateTransform
        attributeName="transform"
        type="rotate"
        from="0 25 25"
        to="360 25 25"
        dur="500ms"
        repeatCount="indefinite"
      />
    </circle>
  </svg>
</template>

<dialog class="file_dialog">
  <form action="" class="file_form">
    <button type="button" class="close_file_dialog act">X</button>

    <div class="invalid_file_inst">
      <p class="invaild_file_inst">File size must not be larger than 1MB</p>
    </div>

    <div class="fileList"></div>
    <button class="uploadBtn act" type="button">Upload</button>
  </form>
</dialog>

<dialog class="modify_folder_dialog">
  <form action="" class="modify_folder_form">
    <button type="button" data-modify-folder-action="new-folder">
      New Folder
    </button>
    <button type="button" class="new_file">
      New File
      <input
        type="file"
        class="createSubFileInput cursor"
        data-modify-folder-action="new-file"
        data-dialog-status="hold"
        multiple
      />
    </button>

    <button type="button" data-modify-folder-action="rename">Rename</button>

    <button
      type="button"
      class="share_link"
      .
      data-modify-folder-action="share-link"
    >
      <div class="expired_at_wrap">
        <label for="expire_at"
          >Expire at
          <input
            type="number"
            placeholder="1"
            id="expire_at"
            class="inp_minutes"
            data-dialog-status="hold"
          />
          minute(s)
        </label>
      </div>
      Share Link
    </button>

    <button
      type="button"
      data-modify-folder-action="delete"
      class="delete_folder"
    >
      Delete
    </button>
  </form>
</dialog>

<script type="module">
  import {
    fetchGet,
    fetchPost,
    getValidUrl,
    getSpinnerIcon,
    removeSpinnerIcon
  } from "/utils/helpers.js";

  const main = document.querySelector("main");

  const fileDialog = document.querySelector(".file_dialog");
  const createFileInput = document.querySelector(".createFileInput");
  const createSubFileInput = document.querySelector(".createSubFileInput");
  const fileList = document.querySelector(".fileList");
  const uploadBtn = document.querySelector(".uploadBtn");
  const closeFileDialog = document.querySelector(".close_file_dialog");
  const modifyFolderDialog = document.querySelector(".modify_folder_dialog");

  const fileDisplayWrap = document.querySelector(".file_display_wrap");
  const fileDisplayWrapContent = document.querySelector(
    ".file_display_wrap_content"
  );
  const invalidFilesError = document.querySelector(".invalid_files_error");
  const fileEmpty = document.querySelector(".file_empty");

  const inpFileName = fileDisplayWrapContent.querySelector(".inp_file_name");
  // file action

  const fileAction = fileDisplayWrapContent.querySelector(
    ".file_display_action_wrap"
  );
  const fileDownload = fileDisplayWrapContent.querySelector(
    ".download_icon_wrap"
  );

  const spinnerIconTemplate = document.querySelector(".spinner_icon_template");

  // file data
  const fileName = fileDisplayWrapContent.querySelector(".file_name");
  const filePreview = fileDisplayWrapContent.querySelector(".file_preview");
  const displayFileSize =
    fileDisplayWrapContent.querySelector(".display_file_size");
  const displayFileMimetype = fileDisplayWrapContent.querySelector(
    ".display_file_mimetype"
  );
  const displayFileCreatedAt = fileDisplayWrapContent.querySelector(
    ".display_file_created_at"
  );
  const displayFileUpdatedAt = fileDisplayWrapContent.querySelector(
    ".display_file_updated_at"
  );

  const openSideBarBtn = document.querySelector(".open_side_bar_btn");
  const closeSideBarBtn = document.querySelector(".close_side_bar_btn");

  const selectedFiles = [];

  const rootFolderAndFileWrap = document.querySelector(
    ".root_folder_and_file_wrap"
  );
  const createFolder = document.querySelector(".create_folder");

  let pressTimer, isTime;

  function createNewFolder(e) {
    const input = rootFolderAndFileWrap.querySelector("input");

    const folderName = input.value.trim();

    if (!folderName) {
      input.remove();
      return;
    }

    rootFolderAndFileWrap.append(getSpinnerIcon(spinnerIconTemplate));

    const params = new URLSearchParams();
    params.append("name", folderName);

    fetchPost(params, renderFoldersAndFiles);
  }

  function handleCreateFolder(e) {
    const isInput = rootFolderAndFileWrap.querySelector("inp_folder_name_root");

    if (isInput) return;

    const inpFolderName = document.createElement("input");
    inpFolderName.id = "inp_folder_name_root";
    inpFolderName.classList.add("inp_folder_name_root");

    inpFolderName.addEventListener("blur", createNewFolder);

    rootFolderAndFileWrap.prepend(inpFolderName);

    inpFolderName.focus();
  }

  function handleCloseFileDialog() {
    fileDialog.close();
    selectedFiles.splice(0);
    createFileInput.value = "";
    fileList.innerHTML = "";
  }

  function handleCreateFile(e) {
    selectedFiles.push(...Array.from(e.target.files));

    if (selectedFiles.length < 1) return;

    fileDialog.showModal();

    renderSelectedFiles();
  }

  function renderSelectedFiles() {
    fileList.innerHTML = "";

    selectedFiles.forEach((file, index) => {
      const fileWrap = document.createElement("div");

      fileWrap.innerHTML = `
          <p>Size: ${(file.size / (1024 * 1024)).toFixed(2)}MB</p>
          <p>Name: ${file.name}</p>
          <label for="rename-file-${index}">Rename:</label><input type="text" id="rename-file-${index}" value="${file.name}" data-index="${index}" />
          <hr/>
        `;

      fileList.appendChild(fileWrap);
    });
  }

  function handleUploadFile() {
    modifyFolderDialog.close();

    const inputs = fileList.querySelectorAll("input");

    const formData = new FormData();

    selectedFiles.forEach((file, index) => {
      const newName = inputs[index].value;

      const renamedFile = new File([file], newName, { type: file.type });

      let folderId = null;

      if (lastClickFolder) {
        const folderWrap = lastClickFolder.closest(".folder_wrap");
        folderId = folderWrap.getAttribute("data-folder-id");
      }

      formData.append("files", renamedFile);
      formData.append("folderId", folderId);
    });

    fileDialog.close();

    rootFolderAndFileWrap.append(
      getSpinnerIcon(spinnerIconTemplate, "uploadFile")
    );

    fetch("/file", {
      method: "POST",
      body: formData
    })
      .then((res) => res.text())
      .then((res) => {
        const obj = JSON.parse(res);

        removeSpinnerIcon(rootFolderAndFileWrap, "uploadFile");

        if (obj.ok) {
          invalidFilesError.classList.add("hide");

          renderFoldersAndFiles();
        } else {
          const invalidFiles = obj.invalidFiles.map(
            (file) =>
              `(file name: ${file.originalname}, size: ${(file.size / (1024 * 1024)).toFixed(2)}MB)`
          );

          invalidFilesError.textContent = `${obj.message}, ${invalidFiles.join(", ")}`;

          invalidFilesError.classList.remove("hide");
        }

        selectedFiles.splice(0);
      })
      .catch((err) => {
        console.log(err);
        console.error("Upload error:", err);
      });
  }

  async function getFiles() {
    const files = await fetchGet("/file");
    appendFiles(files.reverse(), rootFolderAndFileWrap);
  }

  async function getFolders() {
    const folders = await fetchGet("/folder");
    appendFolders(folders.reverse(), rootFolderAndFileWrap);
  }

  function renderFoldersAndFiles() {
    getFolders().then(() => {
      getFiles();
    });
  }

  function appendFiles(files, fileAndFolderWrap) {
    files.forEach((file) => {
      const fileWrap = document.createElement("div");
      const fileName = document.createElement("div");

      fileWrap.classList.add("file_wrap");
      fileName.classList.add("file_name", "cursor");

      fileName.textContent = file.name;

      fileWrap.setAttribute("data-file-id", `${file.id}`);

      fileWrap.append(fileName);
      fileAndFolderWrap.append(fileWrap);
    });
  }

  function appendFolders(folders, fileAndFolderWrap) {
    fileAndFolderWrap.innerHTML = "";

    folders.forEach((folder) => {
      const folderWrap = document.createElement("details");
      const folderNameWrap = document.createElement("summary");
      const folderName = document.createElement("span");
      const inpFolderName = document.createElement("input");
      const subFolderAndFileWrap = document.createElement("div");

      folderWrap.classList.add("folder_wrap");
      folderNameWrap.classList.add("folder_name_wrap");
      folderName.classList.add("folder_name", "cursor");
      subFolderAndFileWrap.classList.add("sub_folder_and_file_wrap");
      inpFolderName.classList.add("inp_folder_name", "hide");

      folderName.textContent = folder.name;

      folderWrap.setAttribute("data-folder-id", `${folder.id}`);
      folderNameWrap.append(folderName, inpFolderName);
      folderWrap.append(folderNameWrap, subFolderAndFileWrap);

      fileAndFolderWrap.append(folderWrap);
    });
  }

  function displayFile(subFiles, subFolderAndFileWrap) {
    appendFiles(subFiles, subFolderAndFileWrap);
  }

  async function displaySubFoldersAndFiles(e, folderWrap) {
    rootFolderAndFileWrap.append(getSpinnerIcon(spinnerIconTemplate));

    const folderId = folderWrap.getAttribute("data-folder-id");
    const subFolderAndFileWrap = folderWrap.querySelector(
      ".sub_folder_and_file_wrap"
    );

    const folder = await fetchGet(`/folder/${folderId}`);

    const subFolders = folder.children || [];
    const subFiles = folder.files || [];

    subFolderAndFileWrap.innerHTML = "";

    appendFolders(subFolders, subFolderAndFileWrap);
    displayFile(subFiles, subFolderAndFileWrap);

    removeSpinnerIcon(rootFolderAndFileWrap);
  }

  async function displayFileData(fileWrap) {
    fileDisplayWrapContent.append(
      getSpinnerIcon(spinnerIconTemplate, "fileData")
    );

    const fileId = fileWrap.getAttribute("data-file-id");

    const file = await fetchGet(`/file/${fileId}`);

    fileDownload.href = `file/${file.id}/download`;

    fileDisplayWrapContent.classList.remove("hide");
    fileEmpty.classList.add("hide");
    inpFileName.classList.add("hide");
    fileName.classList.remove("hide");

    fileDisplayWrapContent.setAttribute("data-file-id", `${file.id}`);
    filePreview.src = getValidUrl(file.url);
    filePreview.alt = file.name;
    fileName.textContent = file.name;
    displayFileSize.textContent = `${(file.size / 1024).toFixed(2)}KB`;
    displayFileMimetype.textContent = file.mimetype;
    displayFileCreatedAt.textContent = file.createdAt;
    displayFileUpdatedAt.textContent = file.updatedAt;

    removeSpinnerIcon(fileDisplayWrapContent, "fileData");
  }

  function handleFolderAndFileOpen(e) {
    const folderWrap = e.target.closest("[data-folder-id]");

    if (folderWrap && !folderWrap.open) {
      displaySubFoldersAndFiles(e, folderWrap);
    } else {
      const fileWrap = e.target.closest("[data-file-id]");

      if (fileWrap) {
        displayFileData(fileWrap);
      }
    }
  }

  let lastClickFolder;

  const getLastClickFolderId = () => {
    const folderWrap = lastClickFolder.closest(".folder_wrap");

    const folderId = folderWrap.getAttribute("data-folder-id");

    return folderId;
  };

  const modifyFolderAction = {
    "new-folder": () => {
      modifyFolderDialog.close();

      const folderWrap = lastClickFolder.closest(".folder_wrap");

      const immediateSubFolder = folderWrap.querySelector(
        ".folder_name_wrap + .sub_folder_and_file_wrap"
      );

      const inpSubFolderName = document.createElement("input");

      folderWrap.open = true;

      immediateSubFolder.prepend(inpSubFolderName);

      const folderId = folderWrap.getAttribute("data-folder-id");

      inpSubFolderName.addEventListener("blur", () => {
        createSubFolder(folderId, inpSubFolderName);
      });

      inpSubFolderName.focus();
    },

    rename: () => {
      modifyFolderDialog.close();

      const folderWrap = lastClickFolder.closest(".folder_wrap");
      const inpFolderName = folderWrap.querySelector(".inp_folder_name");
      const folderName = folderWrap.querySelector(".folder_name");

      inpFolderName.value = folderName.textContent;

      inpFolderName.classList.remove("hide");
      folderName.classList.add("hide");

      inpFolderName.focus();

      inpFolderName.addEventListener("blur", () => {
        const folderId = folderWrap.getAttribute("data-folder-id");

        const trimInpFolderName = inpFolderName.value.trim();

        if (!trimInpFolderName) {
          inpFolderName.classList.add("hide");
          folderName.classList.remove("hide");
        } else {
          const params = new URLSearchParams();
          params.append("name", trimInpFolderName);

          fetch(`/folder/${folderId}`, {
            method: "PUT",
            body: params
          })
            .then((res) => res.text())
            .then((res) => {
              if (!JSON.parse(res).ok) return;
              folderName.textContent = inpFolderName.value;

              inpFolderName.classList.add("hide");
              folderName.classList.remove("hide");
              renderFoldersAndFiles();
            })
            .catch((err) => {
              console.error("Upload error:", err);
            });
        }
      });
    },

    "share-link": async () => {
      const params = new URLSearchParams();

      const expiresAt =
        parseInt(document.querySelector(".inp_minutes").value) || 1;

      params.append("folderId", getLastClickFolderId());
      params.append("minutes", expiresAt);

      fetchPost(
        params,
        () => {
          try {
            navigator.clipboard.writeText(
              `${location.host}/share/${getLastClickFolderId()}`
            );
          } catch (err) {
            console.error("Failed to copy", err);
          }
        },
        "/share"
      );
    },
    delete: () => {
      const folderId = getLastClickFolderId();

      fetch(`/folder/${folderId}`, {
        method: "DELETE"
      })
        .then((res) => res.text())
        .then((res) => {
          if (!JSON.parse(res).ok) return;

          console.log("Folder Deleted Successfully");
          renderFoldersAndFiles();
        })
        .catch((err) => {
          console.error("Folder deletion error:", err);
        });
    }
  };

  function createSubFolder(parentId, input) {
    const folderName = input.value.trim();

    if (!folderName) {
      input.remove();
      return;
    }

    rootFolderAndFileWrap.append(getSpinnerIcon(spinnerIconTemplate));

    const params = new URLSearchParams();

    params.append("parentId", parentId);
    params.append("name", folderName);

    fetchPost(params, renderFoldersAndFiles);
  }

  function handleModifyFolderAction(e) {
    const action = e.target.dataset.modifyFolderAction;

    if (!action || !lastClickFolder) return;

    if (typeof action !== "function") return;

    modifyFolderAction[action]();
  }

  function handleShowModifyFolderDialog(e) {
    if (!e.target.classList.contains("folder_name")) return;

    pressTimer = setTimeout(() => {
      lastClickFolder = e.target;

      modifyFolderDialog.showModal();

      isTime = true;
    }, 500);
  }

  function cancelPress() {
    clearTimeout(pressTimer);
  }

  function handleRenameFileName() {
    fileDisplayWrapContent.append(
      getSpinnerIcon(spinnerIconTemplate, "renameFile")
    );

    const fileId = fileDisplayWrapContent.getAttribute("data-file-id");

    const newName = inpFileName.value;

    fileName.classList.remove("hide");
    inpFileName.classList.add("hide");

    const params = new URLSearchParams();
    params.append("name", newName);

    fetch(`/file/${fileId}`, {
      method: "PUT",
      body: params
    })
      .then((res) => res.text())
      .then((res) => {
        removeSpinnerIcon(fileDisplayWrapContent, "renameFile");

        if (!JSON.parse(res).ok) return;
        fileName.textContent = newName;

        renderFoldersAndFiles();
      })
      .catch((err) => {
        console.error("Upload error:", err);
      });
  }

  const fileActionObj = {
    rename: () => {
      const input = fileDisplayWrapContent.querySelector(".inp_file_name");
      const name = fileDisplayWrapContent.querySelector(".file_name");

      input.value = name.textContent;

      name.classList.add("hide");
      input.classList.remove("hide");

      input.focus();
    },

    delete: () => {
      fileDisplayWrapContent.append(
        getSpinnerIcon(spinnerIconTemplate, "deleteFile")
      );

      const fileId = fileDisplayWrapContent.getAttribute("data-file-id");

      fetch(`/file/${fileId}`, {
        method: "DELETE"
      })
        .then((res) => res.text())
        .then((res) => {
          removeSpinnerIcon(fileDisplayWrapContent, "deleteFile");

          if (!JSON.parse(res).ok) return;

          fileDisplayWrapContent.classList.add("hide");

          fileEmpty.classList.remove("hide");

          console.log("File Deleted Successfully");

          renderFoldersAndFiles();
        })
        .catch((err) => {
          console.error("Upload error:", err);
        });
    }
  };

  function handleFileAction(e) {
    const action = e.target.dataset.fileAction;

    if (!action) return;

    fileActionObj[action]();
  }

  function closeDialogModal(e) {
    const isSelectNewFile = e.target;
    if (e.target.dataset.dialogStatus === "hold") return;

    if (!isTime && modifyFolderDialog.open) {
      modifyFolderDialog.close();
    }

    isTime = false;
  }

  function navLeftSideBar(method) {
    rootFolderAndFileWrap.classList[method]("show");
    fileDisplayWrap.classList[method]("blur");
    closeSideBarBtn.classList[method === "add" ? "remove" : "add"]("hide");
  }

  renderFoldersAndFiles();

  uploadBtn.addEventListener("click", handleUploadFile);

  createFileInput.addEventListener("change", (e) => {
    lastClickFolder = null;
    handleCreateFile(e);
  });

  createSubFileInput.addEventListener("change", handleCreateFile);

  closeFileDialog.addEventListener("click", handleCloseFileDialog);

  createFolder.addEventListener("click", handleCreateFolder);

  rootFolderAndFileWrap.addEventListener("click", handleFolderAndFileOpen);

  rootFolderAndFileWrap.addEventListener(
    "pointerdown",
    handleShowModifyFolderDialog
  );
  rootFolderAndFileWrap.addEventListener("pointerleave", cancelPress);
  rootFolderAndFileWrap.addEventListener("pointerup", cancelPress);
  rootFolderAndFileWrap.addEventListener("pointercancel", cancelPress);

  modifyFolderDialog.addEventListener("click", handleModifyFolderAction);
  // file action

  fileAction.addEventListener("click", handleFileAction);
  inpFileName.addEventListener("blur", handleRenameFileName);

  document.body.addEventListener("click", closeDialogModal);

  openSideBarBtn.addEventListener("click", () => {
    navLeftSideBar("add");
  });

  closeSideBarBtn.addEventListener("click", () => {
    navLeftSideBar("remove");
  });
</script>
