<section>
  <a href="/log-out" class="login_wrap">
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <!-- Door -->
      <path d="M4 3h8a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4" />

      <!-- Login Arrow -->
      <path d="M14 12h7" />
      <path d="M18 8l4 4-4 4" />
    </svg>
    Log out
  </a>
</section>
