/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* font */
@font-face {
  font-family: Roboto;
  src:
    url(./assets/fonts/Roboto-400.woff) format(woff),
    url(./assets/fonts/Roboto-400.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Pacifico;
  src:
    url(./assets/fonts/Pacifico-Regular.woff) format(woff),
    url(./assets/fonts/Pacifico-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --text: #5b5166;
  --text-h: #333;
  --pri-accent: rgb(96, 86, 8);
  --sec-accent: rgb(188, 188, 164);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey: rgb(212, 207, 207);
  --error-transparent: rgba(249, 12, 12, 0.2);
  --error: rgba(249, 12, 12);

  --transparent-white-xsm: rgba(255, 255, 255, 0.8);
  --transparent-white-sm: rgba(255, 255, 255, 0.5);
  --transparent-white-lg: rgba(255, 255, 255, 0.2);

  --transparent-black-xsm: rgba(0, 0, 0, 0.8);
  --transparent-black-sm: rgba(0, 0, 0, 0.5);
  --transparent-black-lg: rgba(0, 0, 0, 0.2);

  --sz-xxxsm: 1px;
  --sz-xxsm: 2px;
  --sz-xsm: 5px;
  --sz-sm: 10px;
  --sz-lg: 20px;
  --sz-xlg: 30px;
  --sz-xxlg: 60px;

  --bx-shadow: 0.5px 0.5px 5px var(--transparent-black-lg);
}

body {
  font-family: Roboto, arial;
  font-size: 0.9rem;
  color: var(--black);
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: min(90%, 1300px);
  padding: 20px 0;
  margin: 0 auto 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-radius: 5px;
  box-shadow: var(--bx-shadow);
  padding: 10px;
  background-color: var(--transparent-black-xsm);

  a {
    color: white;
  }
}

.logo a {
  font-family: Pacifico, cursive;
  background: linear-gradient(70deg, white 70%, var(--pri-accent)) text;
  color: transparent;
}

.logo_icon {
  height: 25px;
}

nav {
  display: flex;
  column-gap: 20px;
}

nav > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 20px;
}

a {
  text-decoration: none;
}

a,
button {
  transition: 300ms;

  &:hover {
    scale: 0.98;
  }
  &:active {
    scale: 0.96;
  }
}

/* form */
.form_wrap,
.passcode_form {
  padding-top: 60px;
  width: min(90%, 450px);
  margin: 0 auto 0;
  box-shadow: var(--bx-shadow);
  border-radius: 5px;
  padding: 20px;
}

.passcode_form_admin {
  margin-top: 50px;
}

.form_wrap,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

form,
.input_wrap {
  width: 100%;
}

.input_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label,
input {
  font-size: 1rem;
}

input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--pri-accent);
}

.submit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--pri-accent);
  color: var(--white);
  border: 2px solid var(--sec-accent);
}

.sign_up,
.log_in {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: var(--pri-accent);
}

.error_wrap {
  background-color: rgb(227, 124, 124, 0.5);
  padding: 9px;
  border-radius: 10px;

  li {
    list-style: none;
    color: rgb(69, 8, 8);
    text-align: center;
  }
}

.logout_wrap {
  justify-self: right;
  color: var(--sec-accent);
  background: var(--pri-accent);
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

/* home page */
.act {
  :active {
    background-color: var(--transparent-black-lg);
    border-radius: 5px;
  }
}

.create_folder_and_file_wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}

.create_file,
.create_folder {
  display: flex;
  align-items: center;
}

.create_file {
  position: relative;
}

.create_folder_icon,
.file_icon {
  width: 22px;
}

hr {
  margin-top: 20px;
}

.createFileInput {
  opacity: 0;
  position: absolute;
  inset: 0;
}

/* file dialog */
.file_dialog {
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: none;
  padding: 0;
  border-radius: 10px;

  &::backdrop {
    background-color: var(--transparent-black-xsm);
    backdrop-filter: blur(3px);
  }
}

.file_form {
  position: relative;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: var(--bx-shadow);
}

.close_file_dialog {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.uploadBtn {
  background: var(--pri-accent);
  border-radius: 8px;
  padding: 8px 10px;
  border: none;
  color: var(--white);
  box-shadow: var(--bx-shadow);
}

/* file dialog end */

main{
  display: flex;
  height: 90vh;
}

.file_display_wrap{
  flex: 1;
  
}

/* folder wrap  */

.root_folder_and_file_wrap {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  box-shadow: var(--bx-shadow);
  background: var(--transparent-black-lg);
  padding: 20px;
  
  max-width: 260px;
  overflow: auto;
}

.folder_wrap {
  padding-top: 10px;
}

.folder_name {
  padding-left: 0px;
}

.sub_folder_and_file_wrap {
  padding-left: 20px;
}
/* folder wrap end */

/* file wrap  */

.file_wrap {
  padding: var(--sz-xsm) 0 0 15px;
}
